.env

# Django
backend/migrations/
# Python cache files
backend/views/__pycache__/
backend/__pycache__/
writingCompanion/__pycache__/

# Virtual Environment
backend/venv/
.DS_Store
frontend/package-lock.json
